@page "/"
@using dapr.eshop.Data
@using dapr.eshop.Services

@inject IProductService _productService;

<PageTitle>Index</PageTitle>

<div class="row px-3 m-5">
    @foreach (var product in Products)
    {
        <div class="col-md-6 col-lg-4 col-xl-3 p-3">
            <dapr.eshop.Components.ProductItem Product="@product"/>
        </div>
    }
</div>

@code {
    private List<ProductViewModel> Products { get; set; } = new List<ProductViewModel>();

    protected override async Task OnInitializedAsync()
    {
        var products = await _productService.GetProducts();
        Products = products.ToList();

        await base.OnInitializedAsync();
    }
}