@page "/"
@using dapr.eshop.Data

<PageTitle>Index</PageTitle>

<div class="row px-3 m-5">
    @foreach (var product in Products)
    {
        <div class="col-md-6 col-lg-4 col-xl-3 p-3">
            <dapr.eshop.Components.ProductItem Product="@product"/>
        </div>
    }
</div>

@code {
    private List<ProductViewModel> Products { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Random rating = new Random();
        Random price = new Random();
        Products = new List<ProductViewModel>();
        for (var i = 0; i < 10; i++)
        {
            var id = Guid.NewGuid();
            Products.Add(new ProductViewModel
                {
                    Id = id,
                    Name = $"Product {i}",
                    Sku = Guid.NewGuid().ToString(),
                    Rating = rating.Next(10),
                    Price = price.Next(1000)
                });
        }
        await base.OnInitializedAsync();
    }
}