@using dapr.eshop.Data
<RadzenCard>
    <h2>@Product?.ProductName</h2>
    <div class="prod-image">

    </div>
    <div class="prod-rating">
        4
    </div>
    <div class="prod-price">
        @Product?.UnitPrice
    </div>
</RadzenCard>

@code {
    [Parameter]
    public ProductViewModel Product { get; set; }
}