@inherits LayoutComponentBase

<PageTitle>dapr.eshop</PageTitle>

<div class="page">
    <NavMenu />

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>
